
[audacious]
equalizer_active=TRUE
leading_zero=TRUE
net_buffer_kb=192
output_buffer_size=100
show_numbers_in_pl=TRUE

[qtui]
column_widths=25,25,180,110,50,105,175,75,100,25,75,275,275,275,75,275
infoarea_visible=FALSE
statusbar_visible=FALSE

[skins]
autoscroll_songname=FALSE
equalizer_x=123
equalizer_y=130
mainwin_font=Monospace 14
player_shaded=TRUE
player_x=1619
player_y=38
playlist_font=Monospace 12
playlist_x=123
playlist_y=130
skin=/usr/share/audacious/Skins/Osmosis

[skins-layout]
blur_scope-qt=1130,540,631,131
gl-spectrum-qt=1119,29,640,643
playlist-manager-qt=1119,29,288,192
qt-spectrum=1181,223,737,192
vumeter-qt=1763,29,155,643

[statusicon]
close_to_tray=TRUE
disable_popup=TRUE
